/* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #2e2e2e; /* Dark background for casino feel */
}

.card-wrapper {
    padding: 2%;
}
